body {
	background-color: #e8e8e4;
	font-family: 'Montserrat', sans-serif;
	
}

h1 {
	text-align: center;
	color: #575F7D;
	font-weight: 800;
	margin-top: 20px;
}
.ava {
	width: 150px;
}

h3 {
	text-align: center;
	color: lightblue;
}
a {
	text-decoration: none;
	font-weight: 600;
	color: #6B72E1;
	font-size: 16px;
}
	a:hover {
		color: black;
	} 


#cont {
	width: 700px;
	margin: auto;
	margin-top: 40px;
}

.card {
	margin-bottom: 20px; 
	background-color: white;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	padding: 30px;
	text-align: center;
}


.button {
	margin: auto;
	width: 150px;
	color: white;
	background-color: #6B72E1;
	border-radius: 5px;
	padding: 15px;
	margin-top: 10px;
}
	.button:hover {
		color: white;
		background-color: black;
		
	}


ul {
	width: 200px;
	list-style-type: none;
	display: flex;
	margin: auto;
	justify-content: space-between;
	padding: 0px;
}

i {
	font-size: 50px;
}


